.App {
  text-align: center;
}
.nav {
  margin: 10px;
  padding: 1%;
  display: inline-flex;
  justify-content: space-between;
}

.navBar {
  color: #f1cbcd;
  background-color: seashell;
}

.navBar a {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
