.App {
  text-align: center;
}
.nav {
  margin: 10px;
  padding: 1%;
  display: inline-flex;
  justify-content: space-between;
}

.navBar {
  color: #f1cbcd;
  background-color: seashell;
}

.navBar a {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: black;
  text-decoration: none;
}

body {
  background-color: #BFCED5;
}